body {
	background-color: #eee;
}
.card img.icone {
    width: auto;
    max-width: 170px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
}

.breadcrumb {
    background-color: #eee !important;
}

.pullf {
    text-align: left !important;
}

